@import 'media';
@import 'theme';
@import 'variables';

:host {
  width: 100%
}

.student-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow:0px 1px 4px #a5a5a5;
  &__header {
    background: $accent-color;
    color: $text-color-on-accent;
    height: 86px;
    display: flex;
    align-items: center;
    padding: 0 18px;
    position: relative
  }
  &__avatar {
    --size: 50px;
    border-radius: 50%;
    height: var(--size);
    width: var(--size);
    background: rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__title {
    padding-left: 18px;
  }

  &__name {
    font-size: 1.4rem;
  }
  &__email {
    opacity: 0.7;
    margin-top: 4px;
  }
  &__task-list {
    padding: $spacing
  }
  &__task {
    margin-top:  $spacing;
  }

  &__delete-btn {
    opacity: 0;
    transition: opacity 200ms;
    --size: 25px;
    position: absolute;
    top: $spacing * 2;
    right: $spacing * 2;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: #FFF;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @include touchDevices{
      opacity: 1;
    }
    &:after  {
      content: '\2716';
      position: absolute;
        color: $accent-color;
        transform: translate(-50%, -50%);
        font-size: 0.9rem;
        top: 50%;
        left: 50%;
    }
  }

  &:hover {
    .student-card {
      &__delete-btn {
        opacity: 1;
      }
    }
  }
}
