@use "sass:math";
@import './media.scss';

$cols-count: 12;
$col-size: math.div(100%, $cols-count);

.grid-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  > * {
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
    display: flex;
  }
}

@for $i from 1 through $cols-count {
  .col-#{$i} {
    width: $col-size * $i;
  }
  .col-md-#{$i} {
    @include md-screen-down {
      width: $col-size * $i;
    }
  }

  .col-sm-#{$i} {
    @include sm-screen-down {
      width: $col-size * $i;
    }
  }

  .col-xs-#{$i} {
    @include xs-screen-down {
      width: $col-size * $i;
    }
  }
}

