$lg-screen: 1200px;
$md-screen: 991px;
$sm-screen: 767px;
$xs-screen: 575px;

@mixin lg-screen-down {
  @media (max-width: $lg-screen) {
    @content;
  }
}

@mixin md-screen-down {
  @media (max-width: $md-screen) {
    @content;
  }
}

@mixin sm-screen-down {
  @media (max-width: $sm-screen) {
    @content;
  }
}

@mixin xs-screen-down {
  @media (max-width: $xs-screen) {
    @content;
  }
}

@mixin touchDevices {
  @media (hover: none) {
    @content;
  }
}
