@import 'variables';
@import 'theme';

.check-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__native-input {
    display: none;
  }
  &__input {
    --size: 30px;
    width: var(--size);
    height: var(--size);
    border: 1px solid $check-box-border-color;
    border-radius: 50%;
    position: relative;
    &_checked {
      &::after {
        content: '\2713';
        position: absolute;
        color: $checkbox-checked-icon-color;
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        top: 50%;
        left: 50%;
      }
    }
  }
  &__title {
    margin-left:$spacing ;
    color: $text-on-surface;
    &_checked {
      text-decoration: line-through;
    }
  }
}
