@import 'variables';

:host{
  display: flex;
  justify-content: center;
  width: 100%;
}

.task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing * 2;
  &__title {
    padding: $spacing * 2 ;
    width: 100%
  }
  &__item {
    padding: $spacing * 2;
  }
}
